@font-face {
    font-family: "ARHERMANN";
    src: url("../font/ARHERMANN.ttf");
}
#evenement {
    background-image: url("../img/odl.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
}
#evenement input[type=button]{
    background-color: #000E6A;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 180px;
    height: 70px;
    margin: 0px 100px 20px 600px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#produits{
    background-color: #312783;
    margin: 25px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.titreProduit {
    font-family: "ARHERMANN", sans-serif;
    color: #FEC700;
    font-size: 43px;
    padding: 0px 0px 0px 5px;
}
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 25px 85px 0px;
  }
  .column {
    flex: 25%;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: white;
}
.price {
    background-color: #312783;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    color: #FEC700;
    padding: 10px;
}
h3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000;
}
.description{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-align: justify;
    color: #000;
    padding: 10px;
}
ul.description {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-decoration: none;
    text-align: justify;
    color: #000;
    list-style-type: square;
    padding: 20px;
}
.titreCard {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    background-color: #FEC700;
    color:  #000E6A;
    padding: 12px;
}

.card button {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none; 
    background-color: #000;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    width: 100%;
   
}

.card button:hover {
    background-color: #FEC700;
    color: #000E6A;
}