*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Stint Ultra Expanded', cursive;
  }
  
  html {
    font-size: 100%;
  }
  #top-footer {
    background-color:#000E6A;
    color: #F2F3F4;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    font-size: 20px;
  }
  #top-footer strong{
    color:#FEC700;
  }
  .footer {
    display: flex;
    flex-flow: row wrap;
    font-size: 13px;
    color: #F2F3F4;
    background-color: black;
    padding: 20px;
  }
  .footer > * {
    flex:  1 100%;
  }
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
    font-size: 12px;
  }
  .footer__logo {
    padding: 15px;
    font-family: 'Stint Ultra Expanded', cursive;
    font-weight: 300;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
 
  }
  .nav__title {
    padding: 0 20 0 0;
    font-weight: 400;
    font-size: 15px;
  }
  .nav__title strong {
   color:#FEC700;
  }
  .footer address {
    font-style: normal;
    color: #F2F3F4;
    padding: 20px;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: #000E6A;
    border-radius: 4px;
    color: #F2F3F4;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #F2F3F4;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    color: #F2F3F4;
    font-size:12px;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  #maps{
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: flex-start;
    flex-direction: row;
    background-color: #280F4C;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 3px;

  }
  #facebook{
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: flex-start;
    flex-direction: row;
    background-color: #280F4C;
    
   
  }
  .facebook1{
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 5px;
    

  }
  .facebook2{
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 5px;
    

  }
 
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
    #map-responsive {
      overflow:hidden;
      padding-bottom:10px;
      position:relative;
      height:0;
      }
    #map-responsive iframe {
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
      }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }