header {
    width: 80%;
    margin: 0 auto;
    background: rgb(233, 80, 19);
}
nav{
    display: flex;
    justify-content: space-between;
}
header nav ul {
    padding: 0;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: block;
    padding: 5px 10px;
}
.logo{
    width: 50%;
}
img{
  
    height:100%;
    width: 25%;
}