/* header {
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

header nav ul {
    padding: 0;
   
}

header nav ul li {
    display: inline-block;
    
}


header nav ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration:none ;
}
*/.navbar__logo img{
    width: 100%;
}
img{
  
    height:100%;
    width: 25%;
} 
